/* NULL */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin:0;
padding:0;
border:0;
outline:0;
font-weight:inherit;
font-style:inherit;
font-size:100%;
font-family:inherit;
vertical-align:baseline;
background:transparent;
}
/*Do not forget to describe the styles for:focus!*/
:focus {
outline:0;
}
body {
line-height:1;
}
ol, ul {
list-style:none;
}
/*For tables still need to write 'cellspacing="0"' in code*/
table {
border-collapse:collapse;
border-spacing:0;
}
caption, th, td {
text-align:left;
font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}
/*End NULL*/

p, li { 
white-space: pre-wrap; 
}

h1 { 
font-size:120%;
font-weight:bold;
}

h2 {
font-size:110%;
font-weight:bold;
}

h3,h4,h5,h6 {
 font-size:110%;
 font-weight:bold;
}

body { 
font-family:'MS Shell Dlg 2';
font-size:8.25pt;
font-weight:400;
font-style:normal;
margin:10px;
line-height:22px;
}

hr {
 color:#afafaf;
 background-color:#afafaf;
 height:1px;
 border-width:0px;
}

/*/////////////////////JXGBOX////////////////////*/
.jxgbox {
    position:relative; /* for IE 7 */
    overflow:hidden;
    background-color:#ffffff;
    border-style:none;
    border-width:0px;
    border-color:#356AA0;
    border-radius:10px;
    /*-moz-border-radius:10px;*/
    -webkit-border-radius:10px;
    -ms-touch-action: none;
    /*
        -moz-box-shadow:black 2px 2px 2px -2px, #151A10 4px 4px;
        -webkit-box-shadow:4px 4px 3px #151A10;
        */
}

.JXGtext {
    background-color: transparent; /* May produce artefacts in IE. Solution: setting a color explicitly. */
    font-family: Arial, Helvetica, Geneva;
    padding: 0px;
    margin: 0px;
    /*line-height:100%;*/ /* This has to be commented out. Otherwise subscripts are not visible in IE */
    /*border-style:dotted;*/
    /*border-width:0.4px;*/
}

.JXGinfobox {
    border-style:none;
    border-width:1px;
    border-color:black;
}

.JXGimage {
    opacity:1.0;
}

.JXGimageHighlight {
    opacity:0.6;
    /*
    border-style:solid;
    border-width:10px;
    border-color:#A0A0A0;
    */
}

.navbar {
    color: #aaaaaa;
    background-color: #f5f5f5;
    padding: 2px;
    position: absolute;
    font-size: 10px;
    cursor: pointer;
    z-index: 100;
    right: 5px;
    bottom: 5px;
}

